<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Sports</h1>
    <%= link_to 'New sport', new_sport_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= form_with(url: sports_path, method: :get) do |form| %>
    <%= form.text_field :q %>
    <%= form.submit "Rechercher" %>
  <% end %>

  <div id="sports" class="h-full">
    <div class="grid grid-cols-2">
      <span class="text-center">Sport Classiques</span>
      <span class="text-center bg-gray-300 text-gray-500 italic shadow-inner">Sport Inédits</span>
    </div>
    <ul>
      <%= render @sports %>
    </ul>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
