<div class="flex gap-6 snap-x snap-mandatory overflow-x-auto text-white -mx-5">
  <div class="pl-5 snap-start shrink-0">
    <div class="rounded-lg w-64 h-32 grid grid-cols-5 place-content-center border bg-yaspeez">
      <div class="col-span-2">
        <div class="w-full bg-cover bg-center shrink-0" style="background-image: url(<%= image_path("logo.png") %>);">
        </div>
      </div>
      <div class="col-span-3 space-y-3 uppercase p-2">
        <div class="flex items-center space-x-2 text-xs">
          <span>rate</span>
          <%= inline_svg_tag "svg/star.svg", class: "w-4 text-yellow-500" %>
        </div>
        <div>
          <p class="font-bold uppercase ">SDLC Center</p>
          <p class="text-xs">Salle multisport</p>
        </div>
        <div class="flex items-center space-x-2">
          <%= inline_svg_tag "svg/map-pin.svg", class: "w-4" %>
          <p>distance</p>
        </div>
      </div>
    </div>
  </div>
  <div class="snap-start shrink-0">
    <div class="rounded-lg w-64 h-32 grid grid-cols-5 place-content-center border bg-malachite">
      <div class="col-span-2">
        <div class="w-full bg-cover bg-center shrink-0" style="background-image: url(<%= image_path("logo.png") %>);">
        </div>
      </div>
      <div class="col-span-3 space-y-3 uppercase p-2">
        <div class="flex items-center space-x-2 text-xs">
          <span>rate</span>
          <%= inline_svg_tag "svg/star.svg", class: "w-4 text-yellow-500" %>
        </div>
        <div>
          <p class="font-bold uppercase ">Kady</p>
          <p class="text-xs">Coach</p>
        </div>
        <div class="flex items-center space-x-2">
          <%= inline_svg_tag "svg/map-pin.svg", class: "w-4" %>
          <p>distance</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pr-5 snap-start shrink-0">
    <div class="rounded-lg w-64 h-32 grid grid-cols-5 place-content-center border bg-crimson">
      <div class="col-span-2">
        <div class="w-full bg-cover bg-center shrink-0" style="background-image: url(<%= image_path("logo.png") %>);">
        </div>
      </div>
      <div class="col-span-3 space-y-3 uppercase p-2">
        <div class="flex items-center space-x-2 text-xs">
          <span>rate</span>
          <%= inline_svg_tag "svg/star.svg", class: "w-4 text-yellow-500" %>
        </div>
        <div>
          <p class="font-bold uppercase ">Kady</p>
          <p class="text-xs">Association</p>
        </div>
        <div class="flex items-center space-x-2">
          <%= inline_svg_tag "svg/map-pin.svg", class: "w-4" %>
          <p>distance</p>
        </div>
      </div>
    </div>
  </div>
</div>

