<div class="h-screen overflow-y-auto">
  <div class="rounded-b-2xl bg-yaspeez shadow-inner-lg text-white p-4">
    <%= image_tag "logo.png", class: "h-20 mx-auto my-10" %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
      <div class="grid place-items-center gap-3">
        <%= form.email_field :email, autocomplete: "email", placeholder: "E-mail", class: "y-form" %>
        <%= form.password_field :password, autocomplete: "current-password", placeholder: "Mot de passe", class: "y-form" %>
        <%= link_to "Mot de passe oublié", new_password_path(resource_name), class:"text-sm italic underline" %>
        <% if devise_mapping.rememberable? %>
          <div class="py-2 flex items-center space-x-0.5 text-sm">
            <%= form.check_box :remember_me %>
            <%= form.label :remember_me %>
          </div>
        <% end %>
        <%= form.submit t('.sign_in'), class: "y-btn-u y-btn-gray" %>
      </div>
      <div class="flex justify-center space-x-2 mt-10">
        <span>Pas encore de compte&nbsp;?</span>
        <%= link_to "Inscription", new_registration_path(resource_name), class:"underline" %>
      </div>
    <% end %>
  </div>
</div>
