<!DOCTYPE html>
<html class="h-screen bg-white">
  <head>
    <title>YaspeeZ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-full">
    <%= render "shared/flash" %>
    <%= render "shared/menu" %>

    <main class="z-0 w-full h-full" data-controller="header">
      <%= render "shared/header" %>
      <%= yield %>
    </main>
  </body>
</html>
